{
  "$schema": "http://json.schemastore.org/prettierrc",
  "singleQuote": false,
  "semi": true,
  "printWidth": 120,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "useTabs": false
}
